/* .container{
    color:black;
    border:1px solid grey;
    box-shadow: 5px 3px 5px grey;
    box-sizing: 
    width:30%;
    margin-left: 30%;
    margin-right: 30%;
    top: 50%;
    padding-top:20px;
    
   } */
   .container{
    width: 284px;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: rgb(59, 58, 58);
    color:white;
    font-family: sans-serif;
    font-size: 25px;
    
   }
   .form-control{
       width: 30%;
   }
   h2{
       text-transform: uppercase;
       font-family: sans-serif;
   }
   .container #submit{
       background-color: aqua;
       /* color:black; */
   }
   p{
    color:white;
}
       
       