/* 
   .container{
    width: 284px;
    margin-left:30%;
    margin-right:30%;
    padding: 10px 10px 20px 10px;
    border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    background-color: rgb(126, 126, 126);
    color:white;
    font-family: sans-serif;
    font-size: 25px;
    
   } */
   .col-md-4{
    margin-right: 30%;
   }
   body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgb(0,0,0,0.6)),url('https://res.cloudinary.com/drrezzrvd/image/upload/v1563547973/4221396001_5375993546001_5375983503001-vs_ao3mqh.jpg');
       /* background-repeat: no-repeat;
       */
       height: 100%;
       background-size:cover;
   }
   .form-control{
       width: 40%;
   }
   .container{
       margin-top: 10%;
       position:absolute;
       
   }
   /* .jumbotron{
   flex-direction: column;
   } */
   h2{
       text-transform: uppercase;
       font-family: sans-serif;
       text-shadow: 2px 2px 4px;
   }
   .container #submit{
       background-color: rgb(191, 204, 204);
       border:black;
       /* color:black; */
   }
   #sell{
    border:black;
    widows: 30px;
}
.form-control select{
    width:30%;
    height:30px;

}
       
       