   .col-md-4{
    margin-right: 30%;
   }
   body{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgb(0,0,0,0.85)),url('https://res.cloudinary.com/drrezzrvd/image/upload/v1563547973/4221396001_5375993546001_5375983503001-vs_ao3mqh.jpg');
       height: 100%;
       background-size:cover;
   }
   .form-control{
       width: 40%;
   }
   .container{
       margin-top: 10%;
       position:absolute;
       color:black;
       margin-right: 30%;
       
   }

   h2{
       text-transform: uppercase;
       font-family: sans-serif;
       text-shadow: 2px 2px 4px;
   }
   .container #submit{
       background-color: rgb(191, 204, 204);
       border:black;
       width: 100px;
       color:black;
   }
   .col-md-4{
       float: left;

   }
   #sell{
    border:black;
    widows: 30px;
    font-size:26px;
    text-transform: uppercase;
}
.form-control select{
    width:30%;
    height:30px;

}
       
       